data_temp.txt
__pycache__
funciones.py
prueba.py
prueba1.py
prueba2.py
prueba3.py
prueba4.py
prueba5.py
prueba6.py
prueba6_2.py
prueba8.py
images/background.png
images/checked_icon.png
images/unchecked_icon.png